rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    // Modo Desarrollo: Permitimos acceso público temporalmente
    // ya que el control de acceso aún no está implementado en el frontend.
    match /{document=**} {
      allow read, write: if true;
    }
  }
}
